@using MudBlazor

<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div style="padding: 16px; text-align: center;">
        <img src="_content/WorkTogetherly.Shared/images/full_logo.png" alt="WorkTogetherly" style="max-width: 160px; width: 100%;" />
    </div>
</MudHidden>

<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudNavMenu>
        <MudNavLink Href="/my-workspace" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Business">Mon espace</MudNavLink>
        <MudNavLink Href="/search" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Search">Rechercher</MudNavLink>
        <MudNavLink Href="/my-bookings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarMonth">Mes réservations</MudNavLink>
    </MudNavMenu>
</MudHidden>

